@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
$main-col:hsl(10,100%,60%);
$main-bg-col:hsl(10,90%,97%);
$off-col:hsl(201,100%,60%);
$off-bg-col:hsl(201,90%,97%);

html,body{
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em{
    font-style: normal;
}

header{
    position: absolute;
    width: 100%;
    height: 2em;

    .flare{
        width: 100%;
        height: 4px;
        background-color: $main-col;
        position: absolute;
        top: 0;
    }

    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1em;

        input{
            border-radius: 20px;
            background-color: $off-bg-col;
            font-family: 'Quicksand', sans-serif;;
            width: 10em;
            transition: width 0.3s;
            border:1px solid black;
            padding: 0.5em;
            &:focus{
                outline: none;
                width: 15em;
            }
        }

        li{
            list-style: none;
            margin-left: 1em;
            a{
                text-decoration: none;
                color: black;
                font-size: 1.2em;
                font-weight: bold;
            }
        }

        .shopping-cart{
            font-size: 1.2em;
            font-weight: bold;
            width: 4em;
            margin-left: 2em;
            background-image: url("/assets/shopping-cart.svg");
            background-repeat: no-repeat;
            background-position: left;
            padding-left: 28px;
        }
    }
}

footer{
    height: 20vh;
    padding:5em;
    background-color: black;
    display: flex;
    align-items: center;
    .credit{
        color: white;
        font-size: 2em;
    }
}

section{
    padding: 3em;
    height: 100%;
    width: 100%;
    h1{
        padding-bottom: 0.2em;
        font-size: 2.5em;
        font-weight: bold;
    }

    h3{
        font-size: 1.1em;
        font-weight: lighter;
    }
}

section#hero{
    background-image: url(/assets/Hero.jpg);
    background-size: cover;
    background-position: left;
    padding-top: 8em;
    display: flex;
    flex-direction: column;

    em{
        color: $main-col;
    }

    h3{
        width: 40%;
        min-width: 15em;
    }

    .primary{
        display: inline-block;
        border-radius: 17px;
        border: 4px solid $main-col;
        color: $main-col;
        text-decoration: none;
        padding: 1em;
        width: fit-content;
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 7em;
    }
}

section#collections{
    background-color: $main-bg-col;
    height: fit-content;
    h3{
        max-width: 40em;
        margin-bottom: 2em;
    }
    em{
        color: $off-col;
    }

    .grid{
        display: grid;
        grid-template-columns: auto;
    }

    .grid-item{
        display: flex;
        margin-bottom: 3em;
        align-items: flex-start;
        .item-image{
            border-radius: 12%;
            width: 60%;
        }
        .item-desc{
            width: 60%;
            padding: 1em;
        }
        .item-title{
            font-size: 1.4em;
        }
        .item-feature{
            font-size: 1em;
            margin-left: 1em;
        }
    }
}

@media (min-width: 768px){
    html{
        font-size: 18px;
    }
}

@media (min-width: 1080px){
    html{
        font-size: 18px;
    }
    section#collections .grid{
        grid-template-columns: auto auto auto;
        .grid-item{
            flex-direction: column;
        }
    }
}

@media (min-width: 1600px){
    html{
        font-size: 20px;
    }
}

